# ==============================
# General Application Settings
# ==============================

ANIWORLD_DOWNLOAD_PATH=Downloads
ANIWORLD_INSTALL_FOLDER=.aniworld
ANIWORLD_DEBUG_MODE=0  # 0=off, 1=on


# ==============================
# Anime & Language Preferences
# ==============================

ANIWORLD_LANGUAGE="German Dub"  # German Dub|English Sub|German Sub|English Dub
ANIWORLD_NAMING_TEMPLATE="{title} ({year}) [imdbid-{imdbid}]/Season {season}/{title} S{season}E{episode}.mkv"


# ==============================
# Provider & Streaming Options
# ==============================

ANIWORLD_PROVIDER=VOE  # Filemoon|Vidmoly|VOE|LoadX|Luluvdo|Doodstream|SpeedFiles|Streamtape|Vidoza
ANIWORLD_RANDOM_ANIME=0  # 0=off, 1=on
ANIWORLD_USE_ANISKIP=0   # 0=off, 1=on


# ==============================
# Player Integration
# ==============================

ANIWORLD_USE_IINA=1  # 0=mpv, 1=IINA (macOS only)


# ==============================
# FFmpeg & Encoding Settings
# ==============================

# TODO: implement these settings
ANIWORLD_VIDEO_CODEC=copy  # copy|h264|h265|av1
