# -----------------------------
# AniWorld Downloader Configuration
# -----------------------------

# Default folder where downloads will be saved
ANIWORLD_DOWNLOAD_PATH=Downloads

# Default language selection for anime
# Options: "German Dub", "English Sub", "German Sub", "English Dub"
ANIWORLD_LANGUAGE=German Dub

# Default streaming/provider service
# Options: "Filemoon", "Vidmoly", "VOE", "LoadX", "Luluvdo", "Doodstream", "SpeedFiles", "Streamtape", "Vidoza"
ANIWORLD_PROVIDER=VOE
