# =============================
#   General Application Settings
# =============================

# Default folder where downloads will be saved
# TODO: allow absolute paths
ANIWORLD_DOWNLOAD_PATH=Downloads

# Installation folder for dependencies (default is user home)
ANIWORLD_INSTALL_FOLDER=.aniworld

# Enable verbose debugging output
ANIWORLD_DEBUG_MODE=0


# =============================
#   Anime & Language Preferences
# =============================

# Default language selection for anime
# Options: "German Dub", "English Sub", "German Sub", "English Dub"
ANIWORLD_LANGUAGE=German Dub

# Naming template for downloaded episodes
# Variables: {title}, {year}, {imdbid}, {season}, {episode}
ANIWORLD_NAMING_TEMPLATE="{title} ({year}) [imdbid-{imdbid}]/Season {season}/{title} S{season}E{episode}.mkv"


# =============================
#   Provider & Streaming Options
# =============================

# Default streaming/provider service
# Options: "Filemoon", "Vidmoly", "VOE", "LoadX", "Luluvdo", "Doodstream", "SpeedFiles", "Streamtape", "Vidoza"
ANIWORLD_PROVIDER=VOE

# Select random anime
ANIWORLD_RANDOM_ANIME=0

# Use aniskip
ANIWORLD_USE_ANISKIP=0


# =============================
#   Player Integration
# =============================

# Use IINA on macOS instead of mpv
ANIWORLD_USE_IINA=1


# =============================
#   FFmpeg & Encoding Settings
# =============================

# Video codec to use when processing streams
# Options: h264, h265, av1, copy, ...
# TODO: implement
ANIWORLD_VIDEO_CODEC=h265
